   <footer class="footer content-block">
    <div class="container blue">
      <div class="row">
          
          <section class="col-md-6">
            <p>CivicPatterns is a pattern language devised to talk about the design of tools for connecting citizens and government. We want to share knowledge about what works and what fails.</p>
            <p>Don't see a pattern you want? Add it yourself by reading the <a href="/contributing">Contributor's Guide.</a></p>
          <a href="/license"><img src="/static/images/cc_by_badge.png" /></a>
          </section>
       </div>   
    </footer>

<!--sidebar script-->
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <script src="/static/js/jquery.shuffle.modernizr.js" ></script>
<!--shuffle-->
    <script src="/static/js/homepage.js" ></script>

<!--Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<!--Analytics-->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EYNQH71526"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-EYNQH71526');
    </script>
<!--slider-->
    <script type="text/javascript">
    $(document).ready(function(){
  $('.bxslider').bxSlider();
});</script>
 </body>
</html>
